interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.neso.energy/api/3/action/datastore_search?resource_id=08e41551-80f8-4e28-a416-ea473a695db9&limit=500&offset=0
  response:
    body:
      string: '{"help":"https://api.neso.energy/api/3/action/help_show?name=datastore_search","success":true,"result":{"include_total":true,"resource_id":"08e41551-80f8-4e28-a416-ea473a695db9","fields":[{"type":"int","id":"_id"},{"info":{"comment":"","description":"Month in which the demand outturn occurred.","title":"Month","type":"string","example":"Apr","unit":""},"type":"text","id":"Month"},{"info":{"comment":"","description":"Date on which the demand outturn occurred.","title":"Date","type":"date","example":"2021-04-18","unit":""},"type":"date","id":"Date"},{"info":{"comment":"Datetime follows clock changes (BST when UK was in BST and vice versa).","description":"Datetime at which the demand outturn occurred.","title":"Datetime","type":"datetime","example":"2021-04-18T02:30:00Z","unit":"GMT/BST"},"type":"timestamp","id":"Datetime"},{"info":{"comment[...]
