interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.neso.energy/api/3/action/datastore_search?resource_id=bf5ab335-9b40-4ea4-b93a-ab4af7bce003&limit=500&offset=0
  response:
    body:
      string: '{"help":"https://api.neso.energy/api/3/action/help_show?name=datastore_search","success":true,"result":{"include_total":true,"resource_id":"bf5ab335-9b40-4ea4-b93a-ab4af7bce003","fields":[{"type":"int","id":"_id"},{"info":{"comment":"This
        follows clock change.","description":"The date the historic outturn occurred.","title":"Settlement
        Date","type":"date","example":"01/01/2026","unit":""},"type":"text","id":"SETTLEMENT_DATE"},{"info":{"comment":"","description":"The
        half hourly period for the historic outturn occurred. Settlement period 1
        runs from 00:00-00:30.","title":"Settlement Period","type":"integer","example":"1","unit":""},"type":"int4","id":"SETTLEMENT_PERIOD"},{"info":{"comment":"","description":"This
        is the Great Britain generation requirement and is equivalent to the Initial
        National Demand Outturn (INDO) and National Demand Forecas[...]
[...]
