interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://archive-api.open-meteo.com/v1/archive?latitude=51.5074&longitude=-0.1278&start_date=2023-01-01&end_date=2023-01-31&hourly=temperature_2m%2Cdew_point_2m%2Cwind_speed_10m%2Ccloud_cover%2Cshortwave_radiation&timezone=UTC
  response:
    body:
      string: "{\"latitude\":51.493847,\"longitude\":-0.1630249,\"generationtime_ms\":25.539636611938477,\"utc_offset_seconds\":0,\"timezone\":\"GMT\",\"timezone_abbreviation\":\"GMT\",\"elevation\":16.0,\"hourly_units\":{\"time\":\"iso8601\",\"temperature_2m\":\"\xB0C\",\"dew_point_2m\":\"\xB0C\",\"wind_speed_10m\":\"km/h\",\"cloud_cover\":\"%\",\"shortwave_radiation\":\"W/m\xB2\"},\"hourly\":{\"time\":[\"2023-01-01T00:00\",\"2023-01-01T01:00\",\"2023-01-01T02:00\",\"2023-01-01T03:00\",\"2023-01-01T04:00\",\"2023-01-01T05:00\",\"2023-01-01T06:00\",\"2023-01-01T07:00\",\"2023-01-01T08:00\",\"2023-01-01T09:00\",\"2023-01-01T10:00\",\"2023-01-01T11:00\",\"2023-01-01T12:00\",\"2023-01-01T13:00\",\"2023-01-01T14:00\",\"2023-01-01T15:00\",\"2023-01-01T16:00\",\"2023-01-01T17:00\",\"2023-01-01T18:00\",\"2023-01-01T19:00\",\"2023-01-01T20:00\",\"2023-01-01T21:00\",\"2023-01-01T22:00\",\"2023[...]
[...]
